/* le menu de navigation */


main{
  display:flex;
  flex-wrap:wrap;
  padding-left: 20%;
}
main a{
  text-decoration: none;
}

h2{
  color: darkblue;
  font-size: 1.1em;
}
main>img{
  margin-top: 1em;
  width: 60em;
}
main>nav>ul{
  flex-basis: 60%;
  flex-grow: 0;
  display: inline-flex;
  margin-right: 5em;
  padding-left: 0;
}
main ul img{
  width: 8em;
}

ul>li>p{
  font-size: 0.8em
}

main>nav>ul>li{
  text-align: center;
    list-style-type: None;
  display:inline;/*pour aligner les li*/
  padding-right: 5em;
}
