header {
  flex-grow: 1
}

h1 {
  text-align: center
}

h2 {
  flex-basis: 50%;
}
nav>ul {
  display: flex;
  flex-wrap: nowrap;
}
header>nav>ul>li{
  flex-grow: 1;
}
main {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 10%;
}

main>ul {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 70%;
}

main>ul>li {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 50%
}

li {
  flex-basis: 35%
}

section {
  margin: 5px;
  padding: 5px;
}

aside {
    flex-basis: auto;
    position: absolute;
    right: 0px;
    bottom: 12em;
    padding: 10px
}

footer>img{
  width: 1.5em;
  float: left;
  padding-right: 1.5em;
  padding-left: 1em;
  padding-top: 1em;
}
main>aside>img {
  width: 15em;
  height: 15em;
}

footer {
  display: flex
}