/* Règles générales */

header{
    background-color: lightgray;
  padding-bottom: 0.2em;
  padding-top: 0.2em;
}

header>nav>ul{
  display:flex;
  flex-wrap: nowrap;
  
}
h1{
  text-align: center;
  color:darkblue;
  margin-top: 0.3em;
}

footer{
  background-color: lightgrey;
  padding-bottom: 0.2em;
  padding-top: 0.2em;
  font-size: 0.8em
}

footer>img {
  width: 1.5em;
  float: left;
  padding-right: 1.5em ;
  padding-left: 1em;
  padding-top: 1em;
}
header>nav>ul>li{
  text-align: center;
    list-style-type: None;
  display:inline;/*pour aligner les li*/
  margin-right: 27em
}

main ul li img:first-child{
  padding-left:0em;
}/* Règles générales */

