h1,h2,h3 {
    color: darkblue
  }  

header{
 
  background-color: lightgray
}

section{
  background-color: skyblue
}

header nav ul{

    list-style-type: none;
}

footer{
  background-color: gainsboro
}
  
main>ul{
  list-style-type: none
}

footer img{
  height: 20px
}